.container{
    height: 40px;
    background-color: rgb(29, 13, 78);
    color: beige;
    
}

.container p{
    text-align: center;
    size: 40px;
}


h1{
    color: rgb(232, 86, 23);
}

body{
    background-color: rgb(3, 2, 40);
}